@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.telegram{
	font-variant: all-small-caps;
}

#chapter-4 blockquote p{
	text-indent: 0;
}

#chapter-10 blockquote p{
	text-align: center;
	text-indent: 0;
}

#chapter-10 blockquote p:first-child{
	font-variant: small-caps;
}
